<p id="notice"><%= notice %></p>

<h1>Announcements</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Purpose</th>
      <th>Location</th>
      <th>Rating</th>
      <th>Ban</th>
      <th>Hot sale</th>
      <th>Visibility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @announcements.each do |announcement| %>
      <tr>
        <td>
          <% if @cars.find(announcement.car_id).images.attached? %>
            <% car_img = @cars.find(announcement.car_id).images.first %>
            <%= image_tag(car_img.variant(resize_to_limit: [100, 50])) %>
          <% end %>
        </td>
        <td><%= announcement.purpose %></td>
        <td><%= announcement.location %></td>
        <td><%= announcement.rating %></td>
        <td><%= announcement.ban %></td>
        <td><%= announcement.hot_sale %></td>
        <td><%= announcement.visibility %></td>
        <td><%= link_to 'Show', announcement %></td>
        <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
        <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Announcement', new_announcement_path %>
