<p id="notice"><%= notice %></p>

<p>
  <strong>Purpose:</strong>
  <%= @announcement.purpose %>
</p>

<p>
  <strong>Location:</strong>
  <%= @announcement.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @announcement.rating %>
</p>

<p>
  <strong>Ban:</strong>
  <%= @announcement.ban %>
</p>

<p>
  <strong>Hot sale:</strong>
  <%= @announcement.hot_sale %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @announcement.visibility %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
