<p id="notice"><%= notice %></p>

<h1>News</h1>

<% @news.each do |news| %>
  <h2><%= news.title %></h2>
    <p><%= news.body %></p>
    <span><%= link_to 'Show', news %></span>
    <% if logged_in? && User.current.status == true %>
      <span><%= link_to 'Edit', edit_news_path(news) %></span>
      <span><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      <hr>
    <% end %>
<% end %>
<br>
<% if logged_in? && User.current.status == true %>
  <%= link_to 'New News', new_news_path %>
<% end %>
