<p id="notice"><%= notice %></p>

<p>
  <h2><strong><%= @news.title %></strong></h2>
</p>

<p>
  <%= @news.body %>
</p>
<hr>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
        <%= form_with(model: @post, local: true) do |f| %>
          <div class="field">
            <%= f.text_area :body, placeholder: "Compose new comment..." %>
            
            <%= f.hidden_field :title, value: @news.title %>
          </div>
          <%= f.submit "Send comment", class: "btn btn-primary" %>
        <% end %>
      </section>
    </aside>
  </div>
<% end %>