<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>
  
  <div class="field">
    <%= form.label :age, "Year" %>
    <%= form.text_field :age %>
  </div>
  
  <div class="field">
    <%= form.label :engine %>
    <%= form.text_field :engine %>
  </div>
  
  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>
  
  <div class="field">
    <%= form.label :vehicle_type %>
    <%= form.text_field :vehicle_type %>
  </div>
  
  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  
  <span class="image">
    <%= form.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
