<p id="notice"><%= notice %></p>
<p>
  <% if @car.images.attached? %>
    <% @car.images.each do |img| %>
      <%= image_tag(img.variant(resize_to_limit: [300, 300])) %>
    <% end %>
  <% end %>
</p>
<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.age %>
</p>

<p>
  <strong>Engine type:</strong>
  <%= @car.engine %>
</p>

<p>
  <strong>Color:</strong>
  <%= @car.color %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @car.vehicle_type %>
</p>
<p>
  <strong>Condition:</strong>
  <%= @car.condition %>
</p>
<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @car.price %>$
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
